
<div id="left-col1" class="terms">
    <img class="pb" src="<?php echo $config->get('viewsFolder');?>images/t_cortos.png" alt="Cortos Seleccionados"/>

    <div class="block1">

        <!--<h4>"Por tu culpa" (Anah&iacute; Berneri)</h4>-->

        <div class="text21">
            <p>Ficci&oacute;n:<br/>
                &#8226; <strong>"Made in usa"</strong> Dir. F. Geli. 15&rsquo; Bs.As. <br/>
				&#8226; <strong>"Casi perfecta"</strong> Dir. G. Trimaglio. 5&rsquo; Santa Fe.<br/>
				&#8226; <strong>"Elena en el agua"</strong> Dir. J. Schwindt. 4.33 La Plata.<br/>
				&#8226; <strong>"Piletas de invierno"</strong> Dir. N. Medina. 5.55&rsquo;&rsquo; Cordoba.<br/>
				&#8226; <strong>"Encuentro"</strong> Dir. D. Kartaszewicz.  21&rsquo; Bs. As.<br/>
				&#8226; <strong>"Alud dos fragmentos"</strong> Dir. E. Grimaldi. 17,17&rsquo;&rsquo; Rosario.<br/>
				&#8226; <strong>"Una noche de navidad"</strong> Dir. J. U&rsquo;ates. 15&rsquo; Bs.As.<br/>
				&#8226; <strong>"Paga dios"</strong> Dir. P. Girola. 6,45 Bs.As.<br/>
				&#8226; <strong>"(Des)encuentro"</strong> Dir. J. Olmedo. 8&rsquo; Bs.As.<br/>
				&#8226; <strong>"Camino de cintura"</strong> Dir.  20&rsquo;. Bs.As. <br/>
				&#8226; <strong>"Marea"</strong> Dir. B. Urlacher. 5&rsquo; Bs.As.<br/>
				&#8226; <strong>"8:05"</strong> Dir. D. Castro. 16&rsquo; Rosario.<br/>
				&#8226; <strong>"Todos quieren a Laura"</strong> Dir. I. Iroi. 9&rsquo; Bs As.<br/>
				&#8226; <strong>"Como una guerrera"</strong> Dir. N. Benedicto.7&rsquo; Bs.As.<br/>
				&#8226; <strong>"Lote 30"</strong> Dir. C.L. Prisco. 19&rsquo;. Bs.As.<br/>
				&#8226; <strong>"Agua"</strong> Dir. C.Anorade. 17&rsquo; Rosario.<br/>
				&#8226; <strong>"Ocultas"</strong> Dir. B. Demozzi. 15&rsquo; La Plata.<br/>
				&#8226; <strong>"El pasamanos"</strong> Dir.M. Apesteguia.15&rsquo; Bs.As.<br/>
				&#8226; <strong>"Cubo magico"</strong> Dir. J. Baranchuk.14&rsquo;B.As.<br/>
				&#8226; <strong>"Desencuentro lejano"</strong> Dir. A. Aseguinolaza. 19&rsquo; Rosario.<br/>
				&#8226; <strong>"Menos Julia"</strong> Dir. Joel Navas. 4,16&rsquo;&rsquo; Mendoza.<br/>
				&#8226; <strong>"La ocasi&rsquo;n"</strong> Dir. T. Sala. 11&rsquo; Bs As.<br/>
				&#8226; <strong>"Im&rsquo;genes para antes de la guerra"</strong> Dir. F. Marquez. 15&rsquo; Bs.As.<br/>
				&#8226; <strong>"Barbara Doreen"</strong> Dir. C. Wolffelt. 14&rsquo;. Bs.As.<br/>
			</p>

			<p>Documental:<br/>

				&#8226; <strong>"Mariano de tierra"</strong> Dir.J. Gamboa. 20&rsquo;  Bs. As.<br/>
				&#8226; <strong>"Boteros"</strong> Dir. M. Turnes. 24&rsquo; Bs.As.<br/>
				&#8226; <strong>"La instancia del vertigo"</strong> Dir. P. Buontempo. 9.13&rsquo; La Plata.<br/>
				&#8226; <strong>"French y Beruti"</strong> Dir.P. Carroggio.  13 Rosario.<br/>
				&#8226; <strong>"De las cosas"</strong> Dir. R. Grupal. 8&rsquo; Santa Fe.<br/>
				&#8226; <strong>"El paisaje Partido"</strong> Dir.Magnoni,Passarelli,Buontempo 15&rsquo; La Plata.<br/>
				&#8226; <strong>"Bendito mandado"</strong> Dir. W.L. Trilles. 2,52&rsquo;&rsquo; Bs. As.<br/>

			</p>
			
			<p>Animaci&oacute;n:<br/>

                            &#8226; <strong>"14 Paisajes"</strong> Dir. P. Delf&iacute;n-L.Gonzalez 5&rsquo; Bs. As.<br/>
				&#8226; <strong>"La valija roja"</strong> Dir. F. Mart&rsquo;n. 2,06&rsquo; Rosario.<br/>
				&#8226; <strong>"Sin luces"</strong> Dir. A. Ravazzola. 3,29&rsquo;&rsquo; Bs. As.<br/>
				&#8226; <strong>"Buen provecho"</strong> Dir. Magueira, Rodr&rsquo;guez, Fleitas,1,39&rsquo;Bs.As.<br/>
				&#8226; <strong>"Cocoroco"</strong> Dir. R. Dalman, 5&rsquo;. Bs. As.<br/>
				&#8226; <strong>"Hola"</strong> Dir. S. Grasso. 2,16&rsquo;&rsquo; Bariloche.<br/>
				&#8226; <strong>"Luminaris"</strong> Dir. J.P.Zaramella. 6&rsquo; Bs. As.<br/>
				&#8226; <strong>"Otro cuento de navidad"</strong> Dir.Evelyn Gota. 4,45&rsquo; Bs. As.<br/>
				&#8226; <strong>"El empleo"</strong> Dir. S. Grasso. 6,20&rsquo; Bs. As.<br/>
				&#8226; <strong>"Rechazo"</strong> Dir. P. Polledri. 2,10 Bs. As.<br/>
				&#8226; <strong>"Asegurado"</strong> Dir.J. Anaya. 14&rsquo;.Bs. As.<br/>
				&#8226; <strong>"La mitad del amor"</strong> Dir. P.Polledri. 2,10 Bs. As.<br/>
				&#8226; <strong>"Ideas para stop"</strong> Dir. Bidone,Bermudez,Poncio, 2,16&rsquo;&rsquo;Bs.As.<br/>
				&#8226; <strong>"Sueños tangibles"</strong> Dir.Lavizarri-Primavera. 2,10&rsquo;&rsquo; Bs. As.<br/>

			</p>
			
			<p>VideoClip:<br/>

				&#8226; <strong>"Terere"</strong> Dir. S. Bertotti. 3,31&rsquo; Bs. As.<br/>
				&#8226; <strong>"La Carmencita"</strong> Dir.A. Rochas.  4,25&rsquo;&rsquo; Entre Rios.<br/>
				&#8226; <strong>"Hay noches"</strong> Dir. M. Ricciardi 3,28&rsquo;&rsquo; Bs.As. <br/>
				&#8226; <strong>"El joven maravilla"</strong> Dir. P.Pecora. E.Cativa. 4&rsquo; Bs. AS.<br/>
				&#8226; <strong>"El diablo se esconde detr&rsquo;s"</strong> Dir. Gorosito-Pinto. 2,13&rsquo;&rsquo; Galvez.<br/>
				&#8226; <strong>"Tonight"</strong> Dir. G. Fernandez. 3&rsquo; Rosario.<br/>
				&#8226; <strong>"Mala mujer"</strong> Dir. A. Molnar. 3,20&rsquo;&rsquo;. Rosario.<br/>
				&#8226; <strong>"Antes de tomar tu taza de caf&rsquo;"</strong> Dir.M. Juarez. 3&rsquo; Bs. As.<br/>
			</p>
			
			<p>Video Minuto:<br/>

				&#8226; <strong>"Gente Importante"</strong> Dir. M. Ferro. Rosario.<br/>
				&#8226; <strong>"Ella duerme aquí"</strong> Dir. L. D. Andres. Bs. As.<br/>
				&#8226; <strong>"Pequeña inmensidad"</strong> Dir. L. Bondel.  Bs. As.<br/>
				&#8226; <strong>"Odio Mutuo"</strong> Dir. O. Huja. Santa Fe.<br/>
			</p>

			<p>Corto-Circuito:<br/>

				&#8226; <strong>"Rastros"</strong> Dir. J. Gamboa. 14,24&rsquo;&rsquo;  Bs. As.<br/>
				&#8226; <strong>"Hormigavideo"</strong> Dir. J. Belucci. 5,50&rsquo;&rsquo; Santa Fe.<br/>
				&#8226; <strong>"Postales"</strong> Dir. L. Lucaioli. 4,42&rsquo; La Plata. <br/>
				&#8226; <strong>"Candombe"</strong> Dir. M. Testoni. 1,37&rsquo;&rsquo; Santa Fe.
				&#8226; <strong>"En lo que seras"</strong> Dir. L. Margaritini. Santa Fe.<br/>
				&#8226; <strong>"55.555"</strong> Dir. Joel Navas. Mendoza.<br/>
			</p>
        </div><!-- End text -->

    </div><!-- End block -->

            

    <img src="<?php echo $config->get('viewsFolder');?>images/marcas.png" alt="Organizan y Auspician Pizza birra y cortos 6"/>

</div><!-- End left-col -->
