<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    #excluyo archivos que pueden dar error 404 si no existen
    RewriteRule \.(jpg|jpeg|png|gif|ico|woff|ttf|eot|svg)$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #links generales
    RewriteRule ^(.*)$ index.php?$1 [L]
</IfModule>
